# IDE files
.idea/
*.iml
.vscode/

# Build files
target/
build/
*.class

# Spring Boot specific
.mvn/
mvnw
mvnw.cmd

# Logs
logs/
*.log

# Application properties with sensitive data
src/main/resources/application-*.properties
src/main/resources/application-*.yml
!src/main/resources/application.properties
!src/main/resources/application.yml

# Misc
.DS_Store

# my dev files
scratch.json
poster
my-notes